[submodule "vim/bundle/vundle"]
  path = vim/bundle/vundle
  url = https://github.com/gmarik/vundle.git
[submodule "syntax"]
  path = zsh/syntax
  url = https://github.com/nicoulaj/zsh-syntax-highlighting.git
