Host shadow
HostName shadow.robots.ox.ac.uk
User rjs
Port 2626
ForwardX11 yes

Host fred
HostName 10renault.dyndns.org
User root
Port 22

Host login2
HostName login2.robots.ox.ac.uk
User rjs
Port 22
ForwardX11 no

Host europa
HostName 192.168.8.10
User mrg
Port 22
ForwardX11 yes

Host colin
HostName colin.begbroke.ox.ac.uk
User mrg
Port 22
ForwardX11 yes

Host cyrus
HostName cyrus.ox.ac.uk
User mrg
Port 22
ForwardX11 yes

Host rjshade.com
HostName ssh.phx.nearlyfreespeech.net
User rjshade_rjshade
Port 22
ForwardX11 no

Host gigasecond.com
HostName ssh.phx.nearlyfreespeech.net
User rjshade_gigasecond
Port 22
ForwardX11 no

Host ubuntu
HostName 192.168.1.76
User rjs
Port 22
ForwardX11 no

